<h1>Listing monsters</h1>
<br>

<h1><%= @admin.name %></h1>

<% @monsters.each do |monster| %>
  <div class="box">
     <%= link_to(image_tag("/assets/" + oneline_tag(monster) + ".jpg", :alt => monster.name, :title => "Click for details"), monster) %>
      <br/>
      <h3><%= monster.name %></h3>
      <% if @admin.admin? %>
      <%= link_to 'Edit', edit_monster_path(monster) %><br/>
      <%= link_to 'Delete', monster, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
    <% end %>

<br>
<div style="clear:both;">
<% if @admin.admin? %>
<%= link_to 'New Monster', new_monster_path, :class => "action" %>
<% end %>
</div>