<p id="notice"><%= notice %></p>

<div class="displayMonster">
<img src="/assets/<%= @monster.name.to_s.downcase.delete(' ') %>.jpg" /><br/>

<p>
<em>
  <%= @monster.bio %>
</em>
</p>

<%= form_for(current_user.relationships.build(monster_id: @monster.id)) do |f| %>
  <div><%= f.hidden_field :monster_id %></div>
  <%= f.submit "capture", class: "action" %>
<% end %>
</div>
<br/><br/><br/>

<%= link_to 'Edit', edit_monster_path(@monster), :class => "action" %>
<%= link_to 'Back', monsters_path, :class => "action" %>
