<h1>Update your profile</h1>

  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      Setup an email address<br/>

       <%= f.label :email %> 
       <%= f.text_field :email %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
