<h1>Update your profile</h1>

  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <p>Setup an email address</p>
<div class="formRow">
       <%= f.label :email %> 
       <%= f.text_field :email %>
</div>
<br/>
      <%= f.submit "Save changes", class: "action" %>
    <% end %>

  </div>
