<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

<div class="formRow">
      <%= f.label :name %>
      <%= f.text_field :name %>
</div><br/>
      <%= f.submit "Let's go!", class: "action" %>
    <% end %>
  </div>
</div>