<nav>
<%= link_to "Home", root_path %>
<% if signed_in? %>
<%= link_to "Monsters", monsters_path %>
<%= link_to "Users", users_path %>
<% end %>
</nav>

<nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
              <ul>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Edit detail", edit_user_path(current_user) %></li>
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              </ul>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
            <%= link_to "Signup", users_new_path %>
          <% end %>
        </ul>
</nav>